<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>python 그래프 그리기 연습</title>
    <style>
        li{
            margin-left: 100px;
            color: red;
        }
    </style>
</head>

<body>
    <img src="{{graph1}}" />
    <li>총점 분석1 : 101반이 총점이 높다. 왜 그럴까? 반별 인원을 알아보자. </li>
    <img src="{{graph2}}" />
    <li>인원 분석1 : 101반이 총점이 가장 높은 이유는 인원이 가장 많기 때문이었다.</li>
    <li>인원 분석2 : 101, 102반은 5명이 넘고 나머지 반은 1~3명씩 배치되었다. 평균을 구해보자.</li>
    <img src="{{graph3}}" />
    <li>평균 분석1 : 가운데 반은 국어를 조금 잘하는 편 </li>
    <li>평균 분석2 : 평균은 총점에 비해 0~100 점 사이로 고르게 나오는 편이다. </li>
</body>

</html>