<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/member/index">쥐마켓</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/member/exam_select">exam</a>
      <a class="p-2 text-dark" href="/board/t2_list">table2</a>
      <a class="p-2 text-dark" href="/board/list">게시판</a>
    {% if not request.session.userid %}
      <a class="p-2 text-dark" href="/member/auth_login">로그인</a>
      {% comment %} <a class="p-2 text-dark" href="/member/join">회원가입</a> {% endcomment %}
    {% else %}
      <a class="p-2 text-dark" href="/member/auth_edit">회원정보수정</a>
      <a class="p-2 text-dark" href="/member/auth_delete">회원탈퇴</a>
      <a class="p-2 text-dark" href="/member/auth_logout">로그아웃</a>
    {% endif %}
    </nav>
    {% if not request.session.userid %}
    <a class="btn btn-outline-primary" href="/member/auth_join">Sign up</a>
    {% endif %}
  </div>